@import "colors";

@mixin regular-style {
	font-style: normal;
	font-weight: normal;
}

@mixin regular-text {
	@include regular-style;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: -0.15px;
	color: $c-text-64;
}

@mixin primary-text {
	@include regular-style;
	font-size: 14px;
	line-height: 22px;
	color: $c-text-64;
}

@mixin secondary-text {
	@include regular-style;
	font-size: 16px;
	line-height: 24px;
	color: $c-text-64;
}

@mixin infoBlockText {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
	color: $c-text-100;
}

@mixin modalText {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
}

@mixin adaptiveText {
	@include regular-style;
	font-size: 24px;
	font-weight: 600;
}

@mixin laptop1250 {
	@media(max-width: 1250px) {
		@content
	}
}

@mixin laptop1050 {
	@media(max-width: 1050px) {
		@content
	}
}

@mixin tablet850 {
	@media(max-width: 850px) {
		@content
	}
}

@mixin tablet720 {
	@media(max-width: 720px) {
		@content
	}
}

@mixin tablet620 {
	@media (max-width: 620px) {
		@content
	}
}

@mixin mobile420 {
	@media(max-width: 420px) {
		@content
	}
}

@mixin mobile360 {
	@media(max-width: 360px) {
		@content
	}
}

@mixin main_content {
	max-width: 1200px;
	margin: 40px auto;

	@include laptop1250 {
		max-width: 1000px;
		margin: 40px auto;
	}

	@include laptop1050 {
		max-width: 800px;
		margin: 40px auto;
	}

	@include tablet850 {
		max-width: 650px;
		margin: 40px auto;
	}

	@include tablet620 {
		max-width: 400px;
		margin: 40px auto;
	}

	@include mobile420 {
		margin: 40px auto;
	}
}
