<div class='promocodeCard'>
	<div class='promocodeCard--info'>
		<div class='promocodeCard--info--text'>
			<div class='promocodeCard--info--balance'>
				<p>На вашем балансе</p>
				<div class='promocodeCard--info--coins'>
					<img src='./assets/currency.svg'
					     alt='currency' />
					<h6>200</h6>
				</div>
			</div>
			<p>Вы можете обменять их на скидку 200 руб.</p>
		</div>
		<div class='promocodeCard--info--button'>
			<app-button>
				Получить промокод
			</app-button>
		</div>
	</div>
</div>
