<div class='promocodeCard'>
	<div class='promocodeCard__info'>
		<div class='promocodeCard__info__text'>
			<div class='promocodeCard__info__balance'>
				<p>На вашем балансе</p>
				<div class='promocodeCard__info__coins'>
					<img src='/assets/currency.svg'
					     alt='currency'>
					<h6>200</h6>
				</div>
			</div>
			<p>Вы можете обменять их на скидку 200 руб.</p>
		</div>
		<div class='promocodeCard__info__button'>
			<app-button>
				Получить промокод
			</app-button>
		</div>
	</div>
</div>
