<div class='slider'>
	<div class='slider__navigation'>
		<div class='swiper-button-prev-custom'>
			<img src='/assets/mainPage/prev-arrow.svg'
			     alt='prev-arrow'>
		</div>

		<div class='swiper-button-next-custom'>
			<img src='/assets/mainPage/next-arrow.svg'
			     alt='next-arrow'>
		</div>
	</div>

	<swiper
		[config]='config'
	>
		<ng-template swiperSlide>
			<app-slider-card
				cardHeadline='Сделаем мир чище'
				img='/assets/mainPage/serviceCondition.svg'
				buttonText='Условия сервиса'
				theme='light-green'
			>
				<span cardText [innerHtml]='greenCard'>{{greenCard}}</span>
			</app-slider-card>
		</ng-template>

		<ng-template swiperSlide>
			<app-slider-card
				cardHeadline='А вы знали...'
				img='/assets/mainPage/plastic.svg'
				buttonText='Узнать больше'
				theme='yellow'
			>
				<span cardText [innerHtml]='yellowCard'>{{yellowCard}}</span>
			</app-slider-card>
		</ng-template>

		<ng-template swiperSlide>
			<app-slider-card
				cardHeadline='Что с масками?'
				img='/assets/mainPage/masks.svg'
				buttonText='Пункты сбора масок'
				theme='default'
			>
				<span cardText [innerHtml]='blueCard'>{{blueCard}}</span>
			</app-slider-card>
		</ng-template>
	</swiper>
</div>
