@import "mixins";

.slider {
	position: relative;
	margin-top: -40px;
	width: 100%;

	@include tablet620 {
		max-width: 720px;
		margin: -40px auto;
	}

	@include mobile420 {
		max-width: 420px;
		margin: -40px auto;
	}

	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		top: 180px;
		z-index: 2;
		cursor: pointer;
		@include laptop1250 {
			max-width: 1060px;
		}
		@include laptop1050 {
			max-width: 860px;
		}
		@include tablet850 {
			max-width: 660px;
		}

		@include tablet620 {
			display: none;
		}
	}
}

.swiper-button-prev::after, .swiper-button-next::after {
	display: none;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
	width: 44px;
	height: 44px;
	background: $c-white no-repeat center;
	border: none;
	border-radius: 50px;
	box-shadow: 0 4px 24px $c-text-12;
}

.swiper-button-prev-custom {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -22px;
}

.swiper-button-next-custom {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: -22px;
}

.swiper-button-prev-custom.swiper-button-disabled,
.swiper-button-next-custom.swiper-button-disabled {
	opacity: 1;
}
