<!--<swiper-->
<!--	[config]='config'-->
<!--	(swiper)='onSwiper($event)'-->
<!--	(slideChange)='onSlideChange()'-->
<!--&gt;-->
<!--	<ng-template swiperSlide>-->
<!--		<app-slider-card-->
<!--			cardHeadline='Сделаем мир чище'-->
<!--			cardText='Сдай макулатуру или старую одежду и получи скидку на покупку товаров из переработанных материалов'-->
<!--			img='../../assets/serviceCondition'-->
<!--			buttonText='Условия сервиса'-->
<!--			bgColor='#B3EDC8'-->
<!--		></app-slider-card>-->
<!--	</ng-template>-->
<!--	<ng-template swiperSlide>-->
<!--		<app-slider-card-->
<!--			cardHeadline='А вы знали...'-->
<!--			cardText='что среднее время разложения пластмассовых изделий колеблется  от 400 до 700 лет,  а полиэтиленовых пакетов — от 100 до 200 лет? '-->
<!--			img='../../assets/serviceCondition'-->
<!--			buttonText='Узнать больше'-->
<!--			bgColor='#FFE48F'-->
<!--		></app-slider-card>-->
<!--	</ng-template>-->
<!--	<ng-template swiperSlide>-->
<!--		<app-slider-card-->
<!--			cardHeadline='Что с масками?'-->
<!--			cardText='Медицинские маски не обязательно должны становиться отходами. Их тоже можно сдать на переработку.'-->
<!--			img='../../assets/serviceCondition'-->
<!--			buttonText='Пункты сбора масок'-->
<!--			bgColor='#BFF0DE'-->
<!--		></app-slider-card>-->
<!--	</ng-template>-->
<!--</swiper>-->
<p>swiper works</p>
