<footer class='footer'>
	<section class='footer--container'>
		<div class='footer--contact'>
			<img src='/assets/letter.svg'
			     alt='letter'>
			<a href='mailto:info@ecorus.ru'>info@ecorus.ru</a>
		</div>

		<div class='footer--contact'>
			<img src='/assets/phone.svg'
			     alt='phone'>
			<a href='tel:+78008808888'>+7(800) 880-88-88</a>
		</div>
	</section>
</footer>


<!--<app-icon name='letter' width='24' height='24'></app-icon>-->
<!--<app-icon name='phone' width='24' height='24'></app-icon>-->
