@import "mixins";

.filter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 290px;
	border: 1px solid $c-light-grey;
	border-radius: 17px;

	@include laptop1050 {
		width: 260px;
	}

	@include tablet720 {
		width: 240px;
	}

	@include tablet620 {
		border: none;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}

	&__block {
		padding: 24px 0 24px 24px;
		margin-bottom: 10px;

		h3 {
			margin-bottom: 13px;
			@include secondary-text;
			color: $c-text-88;
			margin-top: 24px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}
