<div class='filter'>
	<div class='filter__block'>
		<h3>Пол</h3>

		<div *ngFor='let item of allGenders'>
			<app-checkbox-item title='{{item.name}}'></app-checkbox-item>
		</div>

		<h3>Тип товара</h3>

		<div *ngFor='let item of allTypes'>
			<app-checkbox-item title='{{item.name}}'></app-checkbox-item>
		</div>

		<h3>Бренд</h3>

		<div *ngFor='let item of allBrands'>
			<app-checkbox-item title='{{item.name}}'></app-checkbox-item>
		</div>
	</div>
	<div class='filter__btn'>
		<app-button
			type='submit'
			theme='GREY'
			(submit)='resetFilter()'
		>Сбросить фильтры
		</app-button>
	</div>
</div>
