<header class='header'>
	<div class='header__container'>
		<div class='header__navigation'>
			<img src='/assets/logo.svg'
			     alt='logo'>
			<nav>
				<a routerLink='/'
				   class='header__link'
				   [routerLinkActiveOptions]='{exact:true}'
				   routerLinkActive='header__link__active'
				>Главная</a>
				<a routerLink='/collpoints'
				   class='header__link'
				   routerLinkActive='header__link__active'
				>Пункты сбора</a>
				<a routerLink='/ecomarket'
				   class='header__link'
				   routerLinkActive='header__link__active'
				>ЭкоМаркет</a>
				<a routerLink='/aboutservice'
				   class='header__link'
				   routerLinkActive='header__link__active'
				>О сервисе</a>
			</nav>
		</div>
		<div class='header__info'>
			<ng-container *ngIf='userAuth'>
				<app-button
					type='button'
					theme='DEFAULT'
				>
					<img src='/assets/location.svg'
					     alt='location'>
					<p>Казань</p>
				</app-button>
				<app-button
					type='button'
					theme='DEFAULT'
					(click)='openLoginModal()'
				>
					<img src='/assets/goIn.svg'
					     alt='login'>
					<p>Войти</p>
				</app-button>
			</ng-container>

			<ng-container *ngIf='!(userAuth)'>
				<app-button
					type='button'
					theme='DEFAULT'
				>
					<img src='/assets/location.svg'
					     alt='location'>
					<p>Казань</p>
				</app-button>
				<app-button
					type='button'
					theme='DEFAULT'
				>
					<img src='/assets/currency.svg'
					     alt='location'>
					<p>1000</p>
				</app-button>
				<app-button
					type='button'
					theme='DEFAULT'
					routerLink='/profile/history'
				>
					<img src='/assets/profile.svg'
					     alt='location'>
					<p>Алексей</p>
				</app-button>
			</ng-container>
		</div>
	</div>
</header>
