<header class='header'>
	<div class='header__container'>
		<div class='header__navigation'>
			<img src='/assets/mainPage/logo.svg'
			     alt='logo'>
			<nav class='header__navigation__nav'>
				<a routerLink='/'
				   class='header__link'
				   [routerLinkActiveOptions]='{exact:true}'
				   routerLinkActive='header__link__active'
				>Главная</a>
				<a routerLink='/collpoints'
				   class='header__link'
				   routerLinkActive='header__link__active'
				>Пункты сбора</a>
				<a routerLink='/ecomarket'
				   class='header__link'
				   routerLinkActive='header__link__active'
				>ЭкоМаркет</a>
				<a routerLink='/aboutservice'
				   class='header__link'
				   routerLinkActive='header__link__active'
				>О сервисе</a>
			</nav>
		</div>
		<div class='header__info'>
			<ng-container *ngIf='!authService.isAuthorized; else other'>
				<app-button
					type='button'
					theme='DEFAULT'
					class='header__info__place'
				>
					<img src='/assets/mainPage/location.svg'
					     alt='location'>
					<p>Казань</p>
				</app-button>
				<app-button
					type='button'
					theme='DEFAULT'
					(submit)='openLoginModal()'
				>
					<img src='/assets/mainPage/goIn.svg'
					     alt='login'>
					<p>Войти</p>
				</app-button>
				<app-button
					type='button'
					theme='DEFAULT'
					class='header__info__menu'
					(click)='openSidebarPanel()'
				>
					<img src='/assets/mainPage/burger-menu.svg'
					     alt='burgerMenu'>
				</app-button>
			</ng-container>
		</div>
	</div>
</header>

<ng-template #other>
	<app-button
		type='button'
		theme='DEFAULT'
		class='header__info__place'
	>
		<img src='/assets/mainPage/location.svg'
		     alt='location'>
		<p>Казань</p>
	</app-button>
	<app-button
		type='button'
		theme='DEFAULT'
	>
		<img src='/assets/currency.svg'
		     alt='location'>
		<p>{{(user$ | async)?.balance}}</p>
	</app-button>
	<app-button
		type='button'
		theme='DEFAULT'
		routerLink='/profile/history'
	>
		<img src='/assets/profile.svg'
		     alt='profile'>
		<p>{{(user$ | async)?.username}}</p>
	</app-button>
	<app-button
		type='button'
		theme='DEFAULT'
		class='header__info__menu'
		(click)='openSidebarPanel()'
	>
		<img src='/assets/mainPage/burger-menu.svg'
		     alt='burgerMenu'>
	</app-button>
</ng-template>
