@import "mixins.scss";

.form {
	display: flex;
	flex-direction: column;

	input {
		height: 60px;
		border-radius: 8px;
		border: 1px solid $c-light-grey;
		margin-bottom: 24px;
		padding-left: 16px;
		width: 360px;
	}

	input:first-child {
		margin-top: 0;
	}

	&__error {
		color: red;
		margin-top: -20px;
		margin-bottom: 20px;
		white-space: pre-line;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 16px 0 32px;
	}
}
