@import "mixins";

.mainPageCard {
	min-height: 300px;
	height: 100%;
	box-sizing: content-box;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	text-align: left;
	border: 1px solid rgba($c-text-12, 0.12);
	border-radius: 16px;
	background: $c-white;

	&__wrapper {
		width: 100%;
		max-width: 588px;

		@include laptop1250 {
			max-width: 490px;
		}

		@include laptop1050 {
			max-width: 390px;
		}

		@include tablet850 {
			max-width: 300px;
		}

		@include tablet720 {
			max-width: 240px;
		}

		@include tablet620 {
			max-width: 370px;
		}

		@include mobile420 {
			max-width: 320px;
		}

		&:not(:last-child) {
			margin-right: 24px
		}

		@include tablet620 {
			&:last-child {
				margin-top: 24px;
			}
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 14px;
		line-height: inherit;

		@include laptop1050 {
			@include adaptiveText;
		}
	}

	&__text {
		margin-bottom: 46px;
		color: rgba($c-text-88, 0.56);
		line-height: 24px;
	}

	&__btn {
		display: flex;
		align-items: center;
		width: 48px;
		border: 0;
		border-radius: 8px;
		padding: 12px;

		@include tablet850 {
			padding: 8px;
		}
	}

	&__content {
		padding: 40px 0 0 40px;
		@include tablet850 {
			padding: 40px 0 0 20px;
		}
	}

	&__image {
		display: flex;
		align-items: flex-end;
		justify-content: end;
		padding-bottom: 6.5px;
		width: 100%;

		img {
			height: auto;
			width: 100%;
			object-fit: cover;
		}
	}
}
