@import "mixins";

.nav_card {
	min-height: 300px;
	height: 100%;
	box-sizing: content-box;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	text-align: left;
	border: 1px solid $c-text-12;
	border-radius: 16px;

	@include tablet850;
	margin-top: 0;
	position: relative;
	background: $c-white;

	&__wrapper {
		width: 100%;
		max-width: 588px;

		&:not(:last-child) {
			margin-right: 24px
		}

		@include laptop1250 {
			max-width: 490px;
		}

		@include laptop1050 {
			max-width: 380px;
		}

		@include tablet850 {
			max-width: 300px;
		}

		@include tablet720 {
			max-width: 270px;
		}

		@include tablet620 {
			max-width: 370px;
			margin-bottom: 20px;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 14px;
		line-height: inherit;

		@include tablet850 {
			font-size: 24px;
			line-height: inherit;
		}
	}

	&__text {
		margin-bottom: 46px;
		color: rgba(black, 0.56);
		line-height: 24px;

		@include tablet850 {
			@include primary-text;
			padding-right: 20px;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		width: 48px;
		border: 0;
		border-radius: 8px;
		padding: 12px;

		@include tablet850 {
			padding: 0;
		}

		&:hover {
			cursor: pointer;
			background: rgba(20, 20, 24, 0.2);
		}
	}


	&__content {
		padding: 40px 0 0 40px;

		h1 {
			@include laptop1050 {
				@include adaptiveText;
			}
			@include tablet850 {
				font-size: 20px;
			}
		}
	}

	&__img_wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: end;
		padding-bottom: 6px;
		width: 100%;

		@include tablet850 {
			position: absolute;
			width: 50%;
			padding: 0;
			right: 0;

			&:not(:last-child) {
				margin-bottom: 24px
			}
		}
	}

	&__img {
		height: auto;
		width: 100%;
		object-fit: cover;

		@include tablet850 {
			max-height: 150px;
			width: auto
		}

		@include tablet720 {
			width: 200px;
		}

		@include tablet620 {
			width: auto;
		}
	}
}

@media screen and (min-width: 0px) {
	.nav_card__img_wrapper {
		bottom: -5px
	}
}
