@import "mixins";

:host {
	max-width: 400px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include tablet620 {
		max-width: 300px;
	}

	@include mobile420 {
		max-width: 220px;
	}
}

.qr {

	h2 {
		@include modalText;
		color: $c-text-64;
	}

	h3 {
		@include modalText;
		color: $c-text-64;
		text-align: center;
	}

	p {
		@include primary-text;
		color: $c-text-100;
		margin-bottom: 15px;
		margin-top: 10px;
	}

	&__image {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 350px;
		margin: 0 auto;

		@include tablet620{
			width: 300px;
		}

		@include mobile420{
			width: 220px;
		}
	}
}
