@import "mixins";

:host {
	max-width: 400px;
	margin: 0 auto;
	width: 100%;
}

.qr {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h2 {
		@include modalText;
		color: $c-text-64;
	}

	p {
		@include primary-text;
		color: $c-text-100;
		margin-bottom: 15px;
		margin-top: 10px;
	}

	&__image {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
