@import "mixins";

.commonCard {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 365px;
	background: $c-white;
	border-radius: 15px;
	margin-bottom: 16px;
	padding: 16px;
	border: 1px solid $c-light-grey;
	cursor: pointer;

	@include laptop1050 {
		max-width: 300px;
	}

	@include tablet850 {
		max-width: 280px;
	}

	@include tablet620 {
		max-width: 320px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}

	@include mobile420 {
		max-width: 280px;

	}

	&__info {
		display: flex;
		flex-direction: column;
		margin-left: 16px;

		h3 {
			@include primary-text;
			color: $c-text-88;
		}

		p {
			@include primary-text;
		}
	}
}

@media screen and (max-width: 355px) {
	.commonCard {
		max-width: 220px;

		img {
			width: 70px;
			height: 100px;
		}
	}
}
