@import "mixins.scss";

.commonCard {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 365px;
	background: $c-white;
	border-radius: 15px;
	margin-bottom: 16px;
	padding: 16px;
	border: 1px solid $c-light-grey;
	cursor: pointer;

	&__info {
		display: flex;
		flex-direction: column;
		margin-left: 16px;

		h3 {
			@include primary-text;
			color: $c-text-88;
		}

		p {
			@include primary-text;
		}
	}
}
