<section class='mapPage'>
	<div class='mapPage__info'>
		<app-search-input></app-search-input>
		<app-drop-down-list
			[items]="['H&M', 'Adidas', 'NIKE']"
		>
			Выбрано 3 магазина
		</app-drop-down-list>
		<app-drop-down-list
			[items]="['Стекло', 'Пластик', 'Дерево']"
		>
			Материалы
		</app-drop-down-list>
	</div>

	<div class='mapPage__cards'>
		<ng-container *ngIf='selected === 0; else other'
		              class='cards'>
			<div *ngIf='(collPoints$|async)!.length>=0'>
				<app-common-map-card [selected]='selected'
				                     (onChanged)='onChange($event)'
				></app-common-map-card>
			</div>
		</ng-container>
	</div>
</section>


<ng-template #other>
	<app-full-map-card [selected]='selected'
	                   (onChanged)='onChange($event)'
	></app-full-map-card>
</ng-template>

<app-map></app-map>
