<section class='mapPage'>
	<div class='mapPage__info'>
		<div class='mapPage__info__top'>
			<app-search-input></app-search-input>
			<div class='mapPage__info__filterBtn'>
				<app-button
					type='button'
					theme='FILTER'
					(submit)='openMapFilterBottomSheet()'
				>
					<img src='/assets/mapPage/filter.svg'
					     alt='filter'
					     width='20'
					     height='20'
					>
				</app-button>
			</div>
			<app-drop-down-list
				[items]="['H&M', 'Adidas', 'NIKE']"
			>
				Выбрано 3 магазина
			</app-drop-down-list>
			<app-drop-down-list
				[items]="['Стекло', 'Пластик', 'Дерево']"
			>
				Материалы
			</app-drop-down-list>
		</div>

		<div class='mapPage__info__cards'>
			<app-common-cards-list></app-common-cards-list>
		</div>

		<div class='mapPage__info__outlet'>
			<app-full-map-card [collPoint]='collPoint'></app-full-map-card>
		</div>
		<app-button
			theme='WHITE'
			class='btn'
			(submit)='openMapCardsBottomSheet()'

		>
			Показать 12 пунктов сбора
		</app-button>
	</div>
</section>

<app-map></app-map>
