@import "mixins";

.filters {
	width: 290px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px 0 24px 24px;
	border: 1px solid $c-light-grey;
	border-radius: 17px;
	margin-bottom: 10px;

	h3 {
		@include secondary-text;
		color: $c-text-88;
		margin-top: 15px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 15px;
	}
}
