<app-swiper></app-swiper>

<div class='cardsFlex'>
	<app-main-page-card
		cardHeadline='Пункты сбора'
		cardText='Посмотри, где в твоем городе можно сдать вторсырье на переработку'
		img='/assets/mainPage/collpoints.svg'
		routerLink='/collpoints'
	>
	</app-main-page-card>

	<app-main-page-card
		cardHeadline='Экомаркет'
		cardText='Используй заработанные экокоины для покупки товаров из переработанных материалов'
		img='/assets/mainPage/ecomarket.svg'
		routerLink='/ecomarket'
	></app-main-page-card>
</div>

