@import "mixins.scss";

:host {
	@include main_content;

	//@include laptop1250 {
	//	margin: -40px auto 0;
	//}
	//
	//@include tablet850{
	//	margin: -60px auto 0;
	//}
	//
	//@include tablet720{
	//	max-width: 520px;
	//}
	//
	//@include mobile420{
	//	max-width: 420px;
	//	margin: -40px auto 0 auto;
	//	width: 100%;
	//}
}

.cardsFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 68px;
	margin-top: 48px;

	@include laptop1250 {
		max-width: 1000px;
		margin: 48px auto 0 auto;
	}

	@include laptop1050 {
		max-width: 800px;
	}

	@include tablet850{
		max-width: 650px;
	}

	@include tablet720{
		max-width: 520px;
	}

	@include mobile420{
		display: flex;
		flex-direction: column;
		margin-top: -160px;
		padding: 0 16px;
		z-index: 5;
		position: absolute;
	}
}
