@import "mixins";

:host{
	max-width: 384px;
	margin: 0 auto;
	width: 100%;

	@include tablet620 {
		max-width: 300px;
	}

	@include mobile420 {
		max-width: 220px;
	}
}

.form {
	display: flex;
	flex-direction: column;
	margin-top: 30px;

	input {
		height: 60px;
		border-radius: 8px;
		border: 1px solid $c-light-grey;
		margin-bottom: 24px;
		padding-left: 16px;
		width: 360px;

		@include tablet620 {
			max-width: 280px;
		}

		@include mobile420 {
			max-width: 200px;
		}
	}

	input:first-child {
		margin-top: 0;
	}

	&__error {
		color: red;
		margin-top: -20px;
		margin-bottom: 20px;
		white-space: pre-line;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 16px 0 32px;

		@include mobile420{

		}
	}
}
