@import "mixins";

:host {
	padding: 48px;
	background: white;
	outline: none;
	max-height: 100vh;
	overflow: auto;
	border-radius: 26px;
	max-width: 480px;

	@include tablet620{
		max-width: 300px;
	}

	@include mobile420{
		max-width: 220px;
		max-height: 70vh;
	}

	::ng-deep {
		& > * {
			display: block;
		}
	}
}
