<div class='ecomarket-skeleton'>
	<div class='ecomarket-skeleton__cardsBlock'>
		<ngx-skeleton-loader
			appearance='line'
			[theme]="{ width: '270px', height: '320px' }"
		>
		</ngx-skeleton-loader>
		<ngx-skeleton-loader
			appearance='line'
			[theme]="{ width: '270px', height: '320px' }"
		>
		</ngx-skeleton-loader>
		<ngx-skeleton-loader
			appearance='line'
			[theme]="{ width: '270px', height: '320px' }"
		>
		</ngx-skeleton-loader>
		<ngx-skeleton-loader
			appearance='line'
			[theme]="{ width: '270px', height: '320px' }"
		>
		</ngx-skeleton-loader>
		<ngx-skeleton-loader
			appearance='line'
			[theme]="{ width: '270px', height: '320px' }"
		>
		</ngx-skeleton-loader>
		<ngx-skeleton-loader
			appearance='line'
			[theme]="{ width: '270px', height: '320px' }"
		>
		</ngx-skeleton-loader>
	</div>
</div>
