@import "mixins";

.section {
	display: flex;
	align-content: center;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 64px;
	border-radius: 20px;
	background-color: $c-blue;

	@include laptop1250{
		max-width: 1000px;
		height: 300px;
	}

	@include laptop1050{
		max-width: 800px;
		height: 280px;
	}

	@include tablet850{
		max-width: 650px;
		height: 280px;
	}

	@include tablet620 {
		padding-right: 15px;
	}

	@include mobile420 {
		padding-right: 0;
		max-width: 420px;
		height: 400px;
	}

	&__yellow{
		@extend .section;
		background-color: $c-yellow;
	}

	&__light-green{
		@extend .section;
		background-color: $c-light-green;
	}

	h1 {
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 56px;
		color: $c-text-100;
		margin-bottom: 16px;
	}

	p {
		@include secondary-text;
		margin-bottom: 40px;
	}

	img {
		width: 560px;
		padding-left: 90px;
		border-radius: 20px;

		@include tablet620 {
			display: none;
		}
		@include mobile420 {
			display: initial;
		}
	}

	&__info {
		margin-top: 56px;
	}
}

@media screen and (max-width: 1250px) {
	.section {
		max-width: 1000px;
		height: 300px;

		&__info {
			margin-top: 30px;
		}

		h1 {
			font-size: 40px;
		}

		img {
			width: 450px;
		}
	}
}

@media screen and (max-width: 1050px) {
	.section {
		max-width: 800px;
		height: 280px;

		&__info {
			margin-top: 25px;
		}

		h1 {
			font-size: 33px;
			line-height: 40px;
		}

		img {
			width: 350px;
		}

		p {
			margin-bottom: 20px;
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 850px) {
	.section {
		max-width: 650px;
		height: 280px;
		padding-left: 40px;

		&__info {
			max-width: 450px;
			min-width: 200px;
		}

		img {
			width: 320px;
		}

		h1 {
			font-size: 21px;
		}

	}
}


@media screen and (max-width: 420px) {
	.section {
		max-width: 420px;
		height: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 0;
		padding: 0 16px;
		position: relative;

		img {
			padding: 0;
		}

		&__info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			h1 {
				@include adaptiveText;
			}

			p {
				letter-spacing: 1px;
			}
		}
	}
}
