@import "mixins";

.fullCard {
	display: flex;
	flex-direction: column;
	background: $c-white;
	border-radius: 16px;
	padding: 5px;
	max-width: 390px;
	border: 1px solid $c-light-grey;

	@include laptop1050 {
		max-width: 322px;
	}

	@include tablet850 {
		max-width: 302px;
	}

	@include tablet620 {
		max-width: 350px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}

	@include mobile420 {
		max-width: 327px;
	}

	&__card {
		max-width: 400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: baseline;
		margin-top: 25px;

		&__info {
			padding: 20px;

			&__time {
				max-width: 175px;
				margin-bottom: 30px;
			}

			&__items {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				max-width: 400px;
			}

			&__item {
				border: none;
				background: rgba(62, 80, 114, 0.08);
				padding: 4px 12px;
				border-radius: 20px;
				margin-bottom: 8px;
				margin-right: 8px;
				color: $c-text-64;
			}

			h3 {
				@include adaptiveText;
				font-size: 18px;
				margin-bottom: 10px;
			}

			p {
				@include secondary-text;
				margin-bottom: 20px;
			}
		}

		img {
			width: 400px;
			height: 175px;

			@include laptop1050{
				width: 322px;
			}

			@include tablet850{
				width: 302px;
			}
		}
	}

	&__back {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-decoration: none;
		margin-top: 5px;
		margin-left: 15px;
		cursor: pointer;

		p {
			@include secondary-text;
			color: #5780EA;
			margin-left: 5px;
		}
	}
}
