<div class='fullCard'
     *ngIf='collPoint'>

	<div>
		<a class='fullCard__back' routerLink='/collpoints'>
			<img src='/assets/mapPage/back.svg'
			     alt='back'
			>
			<p>Вернуться назад</p>
		</a>
	</div>

	<div class='fullCard__card'>
		<img src='{{collPoint.img}}'
		     alt='card'>
		<div class='fullCard__card__info'>
			<h3>{{collPoint.address}}</h3>
			<p>{{collPoint.phone}}</p>
			<div class='fullCard__card__info__time'>
				<p>{{collPoint.timetable}}</p>
			</div>
			<h3>{{collPoint.shop}}</h3>
			<div class='fullCard__card__info__items'>
				{{collPoint.items}}
			</div>
		</div>
	</div>
</div>
