@import "mixins";

.ecomarket {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;

	&__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.sortingButtons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.filter {
	&__btns {
		@include tablet720 {
			display: none;
		}
		&__mobile {
			display: none;
			@include tablet720 {
				display: initial;
			}
		}
	}
}
