@import "mixins.scss";

:host{
	@include main_content;

	@include tablet620{
		margin: 40px auto;
	}
}

.ecomarket {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;

	&__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.sortingButtons {
	display: flex;
	flex-direction: row;
	align-items: center;
}
