@import "mixins";

:host {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 70px;

	@include tablet720{
		margin-left: 0;
	}

	@include tablet620{
		margin-left: 50px;
	}
}

.section {
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	margin-bottom: 30px;

	&__img{
		@include laptop1250{
			width: 240px;
		}
		@include laptop1050{
			width: 210px;
		}
		@include tablet850{
			width: 300px;
		}
		@include tablet720{
			width: 250px;
		}
		@include tablet620{
			width: 300px;
		}
		@include mobile420 {
			width: 250px;
		}
	}

	h6 {
		@include secondary-text;
		color: $c-text-88;
		font-weight: bold;
	}

	p {
		@include secondary-text;
		font-weight: bold;
		letter-spacing: 0.5px;
	}

	&__brand {
		background: $c-white;
		border-radius: 20px;
		@include primary-text;
		padding: 9px 15px;
		margin-top: 24px;
		margin-left: 24px;
		z-index: 2;
		position: absolute;

		p {
			@include secondary-text;
		}
	}

	&__text {
		margin-top: 16px;
		margin-bottom: 16px;
	}

	&__price {
		display: flex;
		flex-direction: row;
		align-items: center;

		p {
			@include secondary-text;
			color: $c-text-100;
			font-weight: bold;
		}

		img {
			width: 24px;
			height: 24px;
			margin-right: 8px;
		}
	}
}
